
<p>
{% if site.data.strings.tag_placeholder_list[page.lang] %} 
        {{site.data.strings.tag_placeholder_list[page.lang]}}
    {% else %}
        {{site.data.strings.tag_placeholder_list.en}}
{% endif %}
</p>
<button type="button" style="cursor: default" class="btn btn-default navbar-btn">{{page.tagName}}</button>
<!--p><a href="tag_{{page.tagName}}.html">Complete list in all languages</a></p-->
<table><thead><tr><th>Title</th><th>Type</th><th>Excerpt</th></tr></thead>
    <tbody>
    {% assign thisTag = page.tagName %}
    {% assign thisLang = page.langNow %}        
  {% for page in site.pages %}
    {% for tag in page.tags %}
      {% for lang in page.lang %}
        {% if tag == thisTag and lang == thisLang %} 

        <tr><td><a href="{{ page.url | remove: "/" }}">{{page.title}}</a></td>
            <td><span class="label label-default">Page</span></td>
          <td>{% if page.summary %} {{ page.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ page.content | truncatewords: 50 | strip_html }} {% endif %}</td>
        </tr>
        {% endif %}
       {% endfor %}
      {% endfor %}
   {% endfor %}

        {% assign thisTag = page.tagName %}
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == thisTag %}

        <tr><td><a href="{{ post.url | remove: "/" }}">{{post.title}}</a></td>
            <td><span class="label label-primary">Post</span></td>
            <td>{% if post.summary %} {{ post.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}

   </tbody>
</table>

